*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

ol{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   list-style: none;
   gap: 120px;
   margin-top: 100px;}

   .login{
    
    width: 200px;
    border-radius: 150px;
    text-decoration: none;
    justify-content: center;
    padding: 20px;
    padding-left: 50px;
    background-color: #9c9695;
    font-family: poppins;
    color:#e7e4dd;
    font-size: 20px;  }

body{
    background:#181616;
}

#facebook{
    background-color: #1d89d6;
}
#mail{
  width: 1px; ;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color:azure;
  margin-left: 20px;
  margin-top: 20px;
}
#google{
    position: relative;
    left: 25px;
    bottom: 5px;
   color: rgb(35, 95, 213);
}

.goo{
    background-color: aliceblue;
    border-radius:50% ;
    padding: 5px;
    position: relative;
    left: 620px;
    bottom: 333px;
}

.email{
    background-color: aliceblue;
    border-radius:50% ;
    padding: 5px;
    position: relative;
    left: 595px;
    bottom: 30px;
}

.facebook{
     background-color: aliceblue;
    border-radius:50% ;
    padding: 5px;
    position: relative;
    left: 550px;
    bottom: 180px;

}